.contact_section {
    color: white;
    margin: 10% auto;
  }
  .contact_heading {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid red;
    line-height: 0.1em;
    margin: 10% 0;
  }
  
  .contact_heading span {
    margin: 20%;
    padding: 0 10px;
  }
 #afterSubmit{
    display: none;
  } 

  .bkform{
    background-color: #1a1a1a;
    color: white;
  }

  /* .white-mode {
    text-decoration: none;
    padding: 7px 10px;
    background-color: #122;
    border-radius: 3px;
    color: #FFF;
    transition: .35s ease-in-out;
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-family: "Montserrat";
    }
    
    .white-mode:hover {
    background-color: #FFF;
    color: #122;
    } */