
#Home{
background-image: url('../../images/header-background.jpg');
background-repeat: no-repeat;
background-position: center;
background-size:cover;
width: 100%;
background-color: transparent;
text-align:center; 
height: 100vh;
min-height: 500px;
}
.textblock {
  /* margin: 10% 10%;
  padding-bottom: 10%; */
  /* margin-top: 5%; */

  background-color: transparent;
}
.homeContent {
  display: flex;
  flex-direction: column;
  margin: auto;
  background: none;
  background-color: transparent;
}

.homeContent p{
  background-color: transparent;
}

.name {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: bold;
  line-height: 0.75;
  margin: 10px 0;
  background-color: transparent;
}
.text1 {
  margin-top: 15%;
  color: #ff4c29;
  font-size: 2rem;
  background-color: transparent;
}
.text2 {
  font-family: "Montserrat";
  /* text-align: center; */
  color: #fff;
  /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
  letter-spacing: 1px;
  background-color: transparent;
}
.text3 {
  color: #2c394b;
  background-color: transparent;
  font-size: 3rem;
}
.text4 {
  background-color: transparent;
}
.text5 {
  background-color: transparent;
}
.text6 {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.text6 .btn{
  background-color: #017791;
}
.bg-dark {
  background-color: black;
  background-color: transparent;
}
