.projects_section {
    color: white;
    margin: 10% auto;
  }
  .projects_heading {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid red;
    line-height: 0.1em;
    margin: 10% 0;
  }
  
  .projects_heading span {
    margin: 20%;
    padding: 0 10px;
  }

  .project1{
    margin: 2% 0 !important;
  }
  .project2{
    margin: 2% 0 !important;
  }
  .project3{
    margin: 2% 0 !important;
  }
  .card{
    border-color:#edc96191;
    border-radius: 0;
    height: 100%;
    margin: 2% 1%;    
  }
  